<div class='container'>
    <div class='header'>
        <div class='title'>Mongo Scraper</div>
        <button class='Btn' id='HomeBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/">
                Home
            </a>
        </button>
        <button class='Btn' id='SavedBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/saved">
                Saved Articles
            </a>
        </button>
        <button class='Btn' id='ScrapBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/scrap">
                Scrap New Article
            </a>
        </button>
        <button class='Btn' id='ClearBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/">
                Clear Articles
            </a>
        </button>
    </div>
    <div class='body'>
        <div class="mainBodyContent">
            <div>
                Scrap your article by clicking "Scrap New Article"
            </div>
            <br>
            <div>
                See your saved article from "Saved Articles"
            </div>
        </div>
    </div>
    <div class='footer'>React JS Nnews Scraper using Express-Handlebars</div>
</div>